
<div class="teamWrap">
    <h2>Team 1</h2>
    <div>
      <label>Player name:</label> <input #heroName />
      <!--clear hero input with heroName.value=''"-->
      <button (click)="add(heroName.value); heroName.value=''">
        Add
      </button>
    </div>
    <ul class="heroes">
      <li *ngFor="let hero of heroes" (click)="onSelect(hero)"
          [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.numero}}</span>
        <span>{{hero.name}}</span>
        <button class="delete"
          (click)="delete(hero); $event.stopPropagation()">x</button>
      </li>
    </ul> 
</div>


<div class="teamWrap">
    <h2>Team 2</h2>
    <div>
      <label>Player name:</label> <input #heroName />
      <!--clear hero input with heroName.value=''"-->
      <button (click)="add(equipoName.value); equipoName.value=''">
        Add
      </button>
    </div>
    <ul class="heroes">
      <li *ngFor="let equipo of equipos" (click)="onSelect(equipo)"
          [class.selected]="equipo === selectedHero">
        <span class="badge">{{equipo.numero}}</span>
        <span>{{equipo.name}}</span>
        <button class="delete"
          (click)="delete(equipo); $event.stopPropagation()">x</button>
      </li>
    </ul> 
</div>
